* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  background-image: url(./assets/lightroom-export-2.jpg);
}

.aboutMe {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

a {
  color: yellow;
  font-weight: bold;

}

a:hover {
  color: purple;
}





